<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Borpatika1986</title>

    <meta content="Otthonos, klimatizált borozó-éttermünkben gyertyafény mellett kóstolhatja meg kiváló borainkat és házias ételeinket." name="description">
    <meta content="borpatika, bor, étterem, borozó-étterem, tradicionális" name="keywords">

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" type="text/javascript"></script>

    <!-- nanogallery2 -->
    <link href="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/nanogallery2@3/dist/jquery.nanogallery2.min.js"></script>

    <!-- Favicons -->
    <link href="{{ asset('img/favicon.png') }}" rel="icon">
    <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="{{ asset('css/variables.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body style="background-color: #2F130C !important">
<!-- ======= Header ======= -->
    <!-- log line break -->
    <header id="header" class="header d-flex align-items-center fixed-top" style="background-color: #2F130C !important">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-evenly">
            <a href="index.php" class="logo d-flex align-items-center d-none d-sm-block">
                <img src="{{ asset('img/logo_2.png') }}" />
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li>
                        <a href="/">
                            <i class="bi-house-fill"></i>
                            {% if (language)== 'gb' %} About {% else %} Bemutatkozás {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/etlap">
                            <i class="bi-cart-fill"></i>
                            {% if (language)== 'gb' %} Menu {% else %} Étlap {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/hetimenu">
                            <i class="bi-clipboard2-fill"></i>
                            {% if (language)== 'gb' %} Weekly menu {% else %} Heti menü {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/album">
                            <i class="bi-image-fill"></i>
                            {% if (language)== 'gb' %} Gallery {% else %} Fotóalbum {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/itallap">
                            <i class="bi-cup-hot-fill"></i>
                            {% if (language)== 'gb' %} Drinks {% else %} Itallap {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="/rendezvenyek">
                            <i class="bi-calendar2-fill"></i>
                            {% if (language)== 'gb' %} Events {% else %} Rendezvények {% endif %}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="position-relative d-flex align-items-center">
                <i class="bi bi-list mobile-nav-toggle"></i>
                <a href="https://www.facebook.com/borpatikus" class="ms-3 me-1" target="_blank"><i class="bi-facebook social-media-icon"></i></a>
                <a href="https://twitter.com/borpatika1986" class="mx-2" target="_blank"><i class="bi-twitter social-media-icon"></i></a>
                <a href="https://www.instagram.com/b0rpatika" class="mx-2" target="_blank"><i class="bi-instagram social-media-icon"></i></a>
                <a href="#" class="mx-2 js-search-open" style="display: none;"><i class="bi-search"></i></a>
                <a href="#" onclick="languageChange('hu'); return false;"><img src="{{asset('img/Flag_of_Hungary.svg') }}" width="30" height="24" class="mx-1"></a>
                <a href="#" onclick="languageChange('gb'); return false;"><img src="{{ asset('img/Flag_of_the_United_Kingdom.svg') }}" width="30" height="24" class="mx-1"></a>

                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="search-result.html" class="search-form">
                        <span class="icon bi-search"></span>
                        <input type="text" placeholder="Search" class="form-control">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div><!-- End Search Form -->

            </div>
        </div>
    </header><!-- End Header -->
<main id="main">
    {% block main %} {% endblock %}
</main>
<div id="cookie-footer" class="row cookie-footer p-2 {{ cookieFooterDisplayClass }}">
    <div class="col text-center">
        Az oldalon történő böngészéssel elfogadja, hogy a személyre szabott tartalom érdekében az oldal cookie-kat használ.
        Adatkezelési tájékoztatónkat
        <a href="/cookie-tajekoztato"><span style="text-decoration: underline; font-weight: bold;">Itt</span> olvashatja.</a>
        <button type="button" class="btn btn-primary cookie-button" onclick="cookiesApproved(); return false;">Értem</button>
    </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-legal">
        <div class="container">

            <div class="row justify-content-between">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <div class="copyright">
                        © <strong><span>Borpatika1986</span></strong><br /> Minden jog fenntartva
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                        <a href="https://twitter.com/borpatika1986" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/borpatikus" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/b0rpatika" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ asset('vendor/aos/aos.js') }}"></script>
<script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
